<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="/view/assets/logo.png"
      type="image/x-icon"
    />
    <div class="title-container">
      <title>TaskZen | Cadatre-se</title>
    </div>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />

    <link rel="stylesheet" href="../global.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-none d-md-block" id="capa"></div>
        <div class="col-md-6">
          <div
            class="row justify-content-center align-items-center"
            style="height: 100vh"
          >
            <div class="col-8">
              <div class="card">
                <div class="card-body">
                  <form id="loginForm">
                    <h3 class="text-center mb-3">Cadastre-se</h3>
                    <br />
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control rounded-pill"
                        id="email"
                        placeholder="E-mail"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="password"
                          class="form-control rounded-pill"
                          id="password"
                          placeholder="Senha"
                          required
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="far fa-eye-slash" id="togglePassword"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control rounded-pill"
                        id="username"
                        placeholder="Nome de usuário"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control rounded-pill"
                        id="favoriteActivity"
                        placeholder="Atividade favorita"
                        required
                      />
                    </div>
                    <button type="submit" class="btn btn-block rounded-pill">
                      Cadastrar
                    </button>
                    <div class="sign-up" id="small">
                      Já tem cadastro?
                      <a href="../login/">Ir para login</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/f77927e0e6.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
