body {
  font-weight: 600;
}

#capa {
  background-image: url("/view/assets/capa.png");
}

.card {
  border: none;
}

#loginForm {
  padding: 30px;
}

.sign-up {
  text-align: center;
  margin-top: 15px;
}

.form-control::placeholder {
  text-align: center;
  font-weight: 500;
}

.btn {
  margin-top: 30px;
  background-color: #0c5663;
  color: #fff;
}

.btn:hover {
  background-color: #52808c;
}

a {
  color: #0c5663;
  text-decoration: none;
}

a:hover {
  color: #0a4954;
}

h3 {
  font-size: 2.5rem;
}
#small {
  font-size: 0.8rem;
}
